@font-face {
	font-family: 'stag';
	src: url('assets/fonts/stag.eot');
	src: url('assets/fonts/stag.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/stag.woff') format('woff'),
		url('assets/fonts/stag.ttf') format('truetype'),
		url('assets/fonts/stag.svg#stag') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'stag';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-testimonial,
.icon-service-rocket,
.icon-service-pixel,
.icon-service-glass,
.icon-service-cog,
.icon-previous,
.icon-next,
.icon-grid,
.icon-eye,
.icon-article,
.icon-quote,
.icon-minus,
.icon-plus,
.icon-youtube,
.icon-soundcloud,
.icon-myspace,
.icon-instagram,
.icon-flickr,
.icon-deviantart,
.icon-behance,
.icon-vimeo,
.icon-twitter,
.icon-rss,
.icon-pinterest,
.icon-linkedin,
.icon-forrst,
.icon-google-plus,
.icon-facebook,
.icon-email,
.icon-dribbble {
	font-family: 'stag';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-testimonial:before {
	content: '\e000';
}
.icon-service-rocket:before {
	content: '\e001';
}
.icon-service-pixel:before {
	content: '\e002';
}
.icon-service-glass:before {
	content: '\e003';
}
.icon-service-cog:before {
	content: '\e004';
}
.icon-previous:before {
	content: '\e005';
}
.icon-next:before {
	content: '\e006';
}
.icon-grid:before {
	content: '\e007';
}
.icon-eye:before {
	content: '\e008';
}
.icon-article:before {
	content: '\e009';
}
.icon-quote:before {
	content: '\e00a';
}
.icon-minus:before {
	content: '\e00b';
}
.icon-plus:before {
	content: '\e00c';
}
.icon-youtube:before {
	content: '\e00d';
}
.icon-soundcloud:before {
	content: '\e00e';
}
.icon-myspace:before {
	content: '\e00f';
}
.icon-instagram:before {
	content: '\e010';
}
.icon-flickr:before {
	content: '\e011';
}
.icon-deviantart:before {
	content: '\e012';
}
.icon-behance:before {
	content: '\e013';
}
.icon-vimeo:before {
	content: '\e014';
}
.icon-twitter:before {
	content: '\e015';
}
.icon-rss:before {
	content: '\e016';
}
.icon-pinterest:before {
	content: '\e017';
}
.icon-linkedin:before {
	content: '\e018';
}
.icon-forrst:before {
	content: '\e019';
}
.icon-google-plus:before {
	content: '\e01a';
}
.icon-facebook:before {
	content: '\e01b';
}
.icon-email:before {
	content: '\e01c';
}
.icon-dribbble:before {
	content: '\e01d';
}
