/* Mobile Navigation Setup */

@media (min-width: 993px){
	.site-header{
		position: fixed;
		top: 0;
		width: 100%;
		height: 110px;
		z-index: 10000;
		.admin-bar &{
		  top: 28px;
		}
	}
}

@media (max-width: 992px){

	body{
		margin-top: 0;
	}
	
	#primary-menu{
		display: none;
	}

	.home-link{
		display: block;
		float: none;
	}
	
	#mobile-nav{
		font-size: 30px;
		float: right;
		position: absolute;
		right: 0px;
		top: -50px;		
		z-index: 10000;
		outline: none;
	}
	
	.main-navigation{
		float: none;
		position: relative;
	}

	#mobile-primary-menu{
		display: none;
		width: 100%;
		padding: 0px 0 0 0;
		margin: 20px 0 0 0;
		> li:first-child{ border: none; }
		li{
			border-top: 1px solid #c0c0c0;
			a{
				padding: 6px 0;
				display: block;
			}
		}
		.sub-menu a { padding-left: 20px; }
		.sub-menu .sub-menu a { padding-left: 40px; }
	}

	#slider .button-secondary { padding: 10px; width: auto; margin-top: 20px; }

}

@media (min-width: 992px){
	#mobile-nav{
		display: none;
	}
}

@media (max-width: 767px){
	body{
		font-size: 15px;
	}
	.section-latest-posts{
		.entry-title{
			font-size: 22px;
		}
	}
	.paging-navigation{
		.page-numbers{
			margin-bottom: 10px;
		}
		.nav-links{
			margin-top: 20px;
			.nav-previous{
				float: left;
			}
		}
	}
}

@media (min-width: 1024px){
	.site-content{
		width: 68%;
		float: left;
	}

	.sidebar{
		width: 27.4%;
		float: right;
	}
}

@media (min-width: 767px){

	.hentry{
		blockquote{
			font-size: 20px;
		}
	}

	.section-latest-posts{
		.inner{
			padding: 0 35px 0 27px;
		}
		.entry-title{
			margin-left: -27px;
		}
  }
	
	.comment-form-email{
		margin-left: 2%;
	}

  .comment-form-author,
  .comment-form-email{
  	width: 49%;
  	display: inline-block;
  	vertical-align: top;
  	float: left;
  }

  .paging-navigation{
  	.pages, .nav-links{
  	  display: inline-block;
  	  vertical-align: top;
  	  width: 50%;
  	  margin-right: -.25em;
  	}
  }
}


@media (max-width: 480px){
	
	.widgetized-sections{
		.section-title{
			font-size: 35px;
		}
	}
	
	.section-latest-posts .button,
	.portfolio-button{
		float: none !important;
		display: block;
		text-align: center;
		margin-bottom: 40px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100% !important;
		max-width: 100%;
	}

	.hentry{
		.entry-title{
			font-size: 35px;
		}
	}

	.section-portfolio{
		.entry-title{
			
		}
	}

	#slider{
		.button-secondary{
			display: none;
		}
	}

	.avatar-wrap{
		display: none;
	}

	.comment-list .comment-area{
		padding-left: 0;
	}

	.contact-form-button, #commentform #submit{
		display: block;
		width: 100%;
	}

	.blog-cover-wrap, .portfolio-hero{
		padding: 35px 0;
	}

	.icon-article{
		display: none;
	}

	.section-testimonials p{
		font-size: 25px;
	}

	.widgetized-sections .inside{
		padding: 50px 20px;
	}

	.cycle-pager{
		bottom: -50px;
	}


}

@media (max-width: 700px){
	.call-to-action{
		.button{
			width: 100%;
			display: block;
			margin-top: 30px;
		}
		p{
			max-width: none !important;
		}
	}
	.secondary-footer{
		.social-icons{
			text-align: left;
		}
	}

	#portfolio-filter .grid-4{
		max-width: 100%;
		width: 370px;
	}
	
}

@media (min-width: 700px){
	.portfolio-navigation, .sp-navigation{
		float: right;
	}
}


@media (min-width: 800px) and (max-width: 1100px){ #slider h2{ font-size: 55px; }   }
@media (min-width: 600px) and (max-width: 799px){ #slider h2{ font-size: 35px; } }
@media (max-width: 599px) { #slider h2{ font-size: 30px; } }



@media only screen and (max-width: 1024px) and (min-width: 481px){
	.team-member{
		width: 46%;
		margin-right: -.25em;
	}
	.site-content{
		max-width: 100%;
	}
	
	.hentry{
		.entry-title{
			font-size: 45px;
		}
	}

}